.product{

    border: 2px solid red;
    padding: 40px;
    margin: 10px;
    display: inline-block;
    background-color: lightyellow;
    text-align: center;
}

.minor{
    color:red;
    background-color: blue;
}

.major{
    color:green;
    background-color: yellow;
}