<!-- <pre>{{users|json}}</pre> -->

<input type="text" [(ngModel)]="term" (keyup)="filter()">

<label for="">Column:</label>
<select [(ngModel)]="column">
    <option>name</option>
    <option>phone</option>
    <option>city</option>
    <option>id</option>
</select>

<label for="">Order:</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button class="btn btn-warning"
(click)="sort()">sort</button>



<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Image</th>
            <th>ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.city}}</td>
            <td>
                <img src="{{user.image}}" alt="" width="{{user.width}}">
            </td>
            <td>{{user.id}}</td>
            <td>
                <button class="btn btn-danger"
                 (click)="delete(user.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li *ngFor="let item of [].constructor(10);let i=index" class="page-item" (click)="page(i+1)"><a class="page-link">{{i+1}}</a></li>
  </ul>
  

<!-- <div *ngFor="let user of users" style="border: 2px solid red;display: inline-block;width: 30%;margin: 30px;">
    <h2>{{user.name}}</h2>
    <h2>{{user.phone}}</h2>
    <h2>{{user.city}}</h2>
    <h2>
        <img src="{{user.image}}" alt="">
    </h2>
    <h2>{{user.id}}</h2>
</div>

 -->



 <!-- <img *ngFor="let photo of pthots" src="" alt="">

 -->











